body{
	margin: 0;
	font-size: 1.30rem;
	font-family: 'Exo', sans-serif;
  -webkit-text-size-adjust: none;
}

a{
	text-decoration: none;
	color: black;
}

#projects a:hover{
	text-decoration: underline;
}


.paginationList{
  text-align: right;
  text-transform: uppercase;
  display: block;
	transition: transform 250ms ease-In-Out;
	-webkit-transform:transform 250ms ease-In-Out;
}
li .paginationList.active{
  transform: scale(1.5);
  font-weight: bold;
}

a.paginationList:visited{
   color: black;
}

li .paginationList:not(.active):hover{
  font-weight: bold;
}



html{
   scroll-behavior: smooth;
   
}


.container{
  margin-right: 50px;
  margin-left: 50px;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}



h1{
	text-align: center;
	text-transform: uppercase;
}

h2, h3{
	text-align: center
}
	

#home, #about, #skills, #projects, #contact, #hire{
	padding: 0;
  	background-size: cover;
  	height: 100vh;
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}

.center{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);

}

#home .center p{
	font-style: italic;
	text-align: center;
}

.moveDown{
	position: absolute;
	bottom: 0%;
	left:50%;
	animation: bounce 4s ease infinite;
}


@keyframes bounce{
     0% {bottom: 0%;}
     10%   {bottom: 6%;}
     20% {bottom:0%;}
     27.5%{bottom: 4%;}
     35% {bottom:0%;}
     38.75% {bottom: 2.5%;}
     42.5% {bottom: 0%;}
     44% {bottom: 1%;}
     45.5% {bottom: 0%;}
     100% {bottom: 0%}
}

.moveDown:hover{
	cursor: pointer

}


#about div{
	padding: 0.83em
}

#about a{
	color:blue;
}

#skills ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}

#skills li{
	display: flex;
	justify-content: center;
	font-weight: bold;
	padding: 1rem;
	align-items: center;
	flex-basis: 6rem;
	border: 1px solid black;
	border-radius: 0.5rem;
	margin: 0.5rem;
	transition: 250ms;
}


.card{
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	 transition: 0.3s;
	 width: 200px;
	 margin: 1rem;
	 border-radius: 10px;
	 padding: 1rem;
	 font-size: 1rem;
}

.card h3{
	padding: 10px;
	text-align: center;
	background: white;
	color: black;
	margin:0;
}
.card-description:hover{
	cursor: pointer;
}

.card p:last-child{
	font-weight: bold;
	cursor: pointer;
}


#projects{
	display: flex;
	justify-content: center;
}
#projects .center{
	margin: 0;
	position: absolute;
	top: 50%;
	left: initial;
	transform: translate(-0%, -50%);
}

 #projects .container{
 	flex-wrap: wrap;
 }

#projects img{
	padding:0 1rem;
}

#contact h1{
	margin:0px;
	font-size: 1.5rem;
}

#contact .container {
	margin:10px;
}

#contact .btn{
	font: inherit;
	cursor: pointer;
	outline: inherit;
	background: black;
	color: white;
	border-radius: 2px;
	font-size: 1.5rem;
	padding:0 10px;
}

.btnDiv{
	text-align: center;
}

.btn img{
	padding: 0
}
img{
	padding-right: 1rem;
}

@media only screen and (max-width: 708px) {
  body {
    font-size: 1rem;
  }
  .moveDown{
  	left:45%;
  }
  
  #skills ul{
  	padding: 0rem;
  }
  #skills li{
  	flex-basis: 0px;
  }
 #projects .container{
 	flex-wrap: wrap;
 }
  .card h3{
  	height: auto;
  }
  .card-hire{
  	flex-basis: auto ;
  	height: auto ;
  	margin:0.3rem;
  	border: none;
  }

  .card-hire h3{
    margin:0;
  }

  #home{
    font-size: 16px;
  }
  #about{
    font-size: 3vw;
  }
}

@media only screen and (max-width: 600px){
  .container{margin:0;}
	.center{
  	position: absolute;
  	left:20%;
  	transform: translate(-15%, -50%);
  }
  #home .center{
  	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #contact .center{
  	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  }
    body {
    font-size: 12px;
	}
	.card p {
		margin-bottom: 0;
	}
	.card img{
		height: 20px;
	}
	.card{
		font-size: 12px;
		margin:0;
	}
  #about{
    font-size: 14px;
  }

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
  #about{
    font-size: 4vw;
  }
}





}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 600px){
	#home, #about, #skills, #projects, #contact, #hire{
	padding: 0;
  	background-size: cover;
  	height: calc(var(--vh, 1vh)*100);
  }
} 

@media only screen and (max-width: 400px){
	#home .center{
  	position: absolute;
  	left:20%;
  	transform: translate(-15%, -50%);
  }
}

.topnav {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  display: flex;
}

